.Logo-box {
    height: 10%; // or use percentage if parent has height
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    border-bottom: 2px solid rgb(218, 216, 216);
    
   

    h1 {
      font-family: 'Arial', sans-serif;
      font-weight: 700;
      font-size: 32px;
      color: var(--Color);
      letter-spacing: 1.2px;
      user-select: none;
      text-transform: lowercase;
      

      &::first-letter {
        text-transform: uppercase;
      }
    }

    div:first-child {
      padding: 15px;
    }

    .image2 {
      filter: var(--MainColor);
    }
  
}


